<script type="text/ng-template" id="branches">
    <ul class="tree nested" ng-repeat="branch in item.branches track by $index">
        <li ng-repeat="node in branch track by $index">
            <div class="node-item hover"
                 ng-class="{'active': scope.titules.currentTituleNodes.isNodeActive(node.id.value)}"
                 ng-click="scope.titules.currentObjectId = scope.titules.currentTituleNodes.select(node.id.value)">
                <span class="collapse" ng-show="node.haveBranches === false">
                    <div class="tree-top nested" ng-class="{'first': item.id.value === titules.currentTitule.startObjectId.value}"></div>
                    <div class="tree-bottom nested" ng-class="{'last': $index === branch.length - 1}"></div>
                </span>
                <span class="collapse"
                      ng-show="node.haveBranches === true"
                      ng-click="scope.objects.getBranches(scope.titules.currentTituleId, scope.titules.currentTitulePartId, node.id.value, scope.onSuccessGetBranches)">
                    <div class="tree-top" ng-class="{'first': item.id.value === titules.currentTitule.startObjectId.value}"></div>
                    <div class="tree-bottom" ng-class="{'last': item.id.value === titules.currentTitule.endObjectId.value}"></div>
                    <span class="expander">+</span>
                </span>

                <div class="node-icon" ng-class="{'unknown': item.objectTypeId === 0}"></div>
                <!-- Подробности об узле -->
                <div class="node-details">
                    <!-- Если узел является опорой -->
                    <span ng-show="node.objectTypeId === 1">{{ "Опора #" + node.number.value }}</span>
                    <br ng-show="node.objectTypeId === 1">
                    <span ng-show="node.objectTypeId === 1" class="description caption">ВЛ:</span>
                    <span ng-show="node.objectTypeId === 1" class="description">{{ stuff.powerlines.find("id", node.powerLineId.value).title.value + " (" + stuff.powerlines.find("id", node.powerLineId.value).voltage.value + " кВ)" }}</span>
                    <span ng-show="node.objectTypeId === 1">&nbsp; &nbsp; &nbsp;</span>
                    <span ng-show="node.objectTypeId === 1" class="description caption">Тип опоры:</span>
                    <span ng-show="node.objectTypeId === 1" class="description">{{ stuff.pylonTypes.find("id", node.pylonTypeId.value).title.value }}</span>

                    <!-- Если узел является неформализованным объектом -->
                    <span ng-show="node.objectTypeId === 0">Неформализованный объект</span><br>
                    <span ng-show="node.objectTypeId === 0" class="description">Тип этого объекта не задан</span>
                </div>
                <div class="node-point">
                    {{ stuff.points.find("id", node.pointId.value).title.value }}<br>
                        <span class="description right">
                            {{ stuff.points.find("id", node.pointId.value).coordinates }}
                        </span>
                </div>
            </div>
            <div ng-if="node.branches && node.branches.length > 0"
                 ng-include="'branches'"
                 ng-init="node.branches = scope.titules.currentTituleNodes.getBranches(node.id.value); scope = scope;">
            </div>
        </li>
    </ul>
</script>





<div id="montage-scheme">
    <!-- Заглушка на время загрузки узлов титула -->
    <div class="no-hover" ng-show="titules.isLoading === true">
        <div class="loading">
            <img src="client/resources/img/loader.gif" alt=""/>
            Подождите, идет загрузка...
        </div>
    </div>

    <ul class="tree">
        <li ng-repeat="item in titules.currentTituleNodes.path.nodes track by $index">

            <div class="node-item hover"
                 ng-class="{'active': titules.currentTituleNodes.isNodeActive(item.id.value)}"
                 ng-click="titules.currentObjectId = titules.currentTituleNodes.select(item.id.value)">

                <span class="collapse" ng-show="item.haveBranches === false">
                    <div class="tree-top" ng-class="{'first': item.id.value === titules.currentTitule.startObjectId.value}"></div>
                    <div class="tree-bottom" ng-class="{'last': item.id.value === titules.currentTitule.endObjectId.value}"></div>
                </span>
                <span class="collapse" ng-show="item.haveBranches === true">
                    <div class="tree-top" ng-class="{'first': item.id.value === titules.currentTitule.startObjectId.value}"></div>
                    <div class="tree-bottom" ng-class="{'last': item.id.value === titules.currentTitule.endObjectId.value}"></div>
                    <span class="expander"
                          title="Развернуть"
                          ng-show="item.haveBranches === true && item.collapsed === true"
                          ng-click="objects.getBranches(titules.currentTituleId, titules.currentTitulePartId, item.id.value, onSuccessGetBranches)">
                        +
                    </span>
                    <span class="expander"
                          title="Свернуть"
                          ng-show="item.collapsed === false"
                          ng-click="titules.currentTituleNodes.collapse(item.id.value)">
                        -
                    </span>
                </span>

                <div class="node-icon" ng-class="{'unknown': item.objectTypeId === 0}"></div>
                <!-- Подробности об узле -->
                <div class="node-details">

                    <!-- Если узел является опорой -->
                    <span ng-show="item.objectTypeId === 1">{{ "Опора #" + item.number.value }}</span>
                    <br ng-show="item.objectTypeId === 1">
                    <span ng-show="item.objectTypeId === 1" class="description caption">ВЛ:</span>
                    <span ng-show="item.objectTypeId === 1" class="description">{{ stuff.powerlines.find("id", item.powerLineId.value).title.value + " (" + stuff.powerlines.find("id", item.powerLineId.value).voltage.value + " кВ)" }}</span>
                    <span ng-show="item.objectTypeId === 1">&nbsp; &nbsp; &nbsp;</span>
                    <span ng-show="item.objectTypeId === 1" class="description caption">Тип опоры:</span>
                    <span ng-show="item.objectTypeId === 1" class="description">{{ stuff.pylonTypes.find("id", item.pylonTypeId.value).title.value }}</span>

                    <!-- Если узел является неформализованным объектом -->
                    <span ng-show="item.objectTypeId === 0">Неформализованный объект</span><br>
                    <span ng-show="item.objectTypeId === 0" class="description">Тип этого объекта не задан</span>
                </div>
                <div class="node-point">
                    {{ stuff.points.find("id", item.pointId.value).title.value }}<br>
                        <span class="description right">
                            {{ stuff.points.find("id", item.pointId.value).coordinates }}
                        </span>
                </div>
            </div>

            <div ng-show="item.branches && item.branches.length > 0 && item.collapsed == false"
                 ng-include="'branches'"
                 ng-init="this.branches = titules.currentTituleNodes.getBranches(item.id.value); scope = this">
            </div>
        </li>

    </ul>



</div>
