<div class="container">

    <form class="form" ng-submit="add()">
        <fieldset>
            <legend>Новый участок титула</legend>

            <label for="titulePartTitule">Титул</label>
            <select
                    name="titulePartTitule"
                    id="titulePartTitule"
                    placeholder="Выберите титул"
                    ng-model="newTitulePart.tituleId.value"
                    ng-init="titules.currentTituleId"
                    ng-options="titule.id.value as titule.title.value for titule in titules.titules.items">
            </select>

            <label for="titulePartTitle">Наименование</label>
            <input
                    id="titulePartTitle"
                    name="titulePartTitle"
                    type="text"
                    placeholder="Наименование"
                    ng-model="newTitulePart.title.value" />

            <label for="startPoint">Начальная точка</label><span class="required">*</span>
            <typeahead id="startPoint"
                       placeholder="Начальная точка"
                       ng-model="newTitulePart.startPointId.value"
                       collection="stuff.points.items"
                       collection-value="id">
            </typeahead>

            <label for="startObjectType">Тип объекта в начальной точке</label>
            <select name="startObjectType"
                    id="startObjectType"
                    ng-init="newTitulePart.startObjectTypeId.value = 0"
                    ng-options="type.id.value as type.title.value for type in objects.objectTypes.items | types:startPointObjects.objectTypesIds"
                    ng-model="newTitulePart.startObjectTypeId.value"
                    ng-disabled="!startPointObjects.states.ready">
            </select>

            <!-- Если тип объекта в начальной точке - опора -->
            <div class="nested-form" ng-show="newTitulePart.startObjectTypeId.value == 1">
                <label for="startPylonPowerLine">Линия</label><span class="required">*</span>
                <select name="startPylonPowerLine"
                        id="startPylonPowerLine"
                        ng-options="pwl.id.value as pwl.title.value for pwl in stuff.powerlines.items | powerlines: startPointObjects.powerLinesIds"
                        ng-model="startPointPowerLineId"
                        ng-disabled="!startPointObjects.states.ready">
                </select>

                <label for="startPylonNumber">№ опоры</label><span class="required">*</span>
                <typeahead id="startPylonNumber"
                           placeholder="Опора"
                           ng-model="newTitulePart.startObjectId.value"
                           collection="startPointObjects.pylons"
                           collection-value="id">
                </typeahead>
            </div>

            <label for="endPoint">Конечная точка</label><span class="required">*</span>
            <typeahead
                    placeholder="Конечная точка"
                    id="endPoint"
                    ng-model="newTitulePart.endPointId.value"
                    collection="stuff.points.items"
                    collection-value="id"
                    ng-change="newTitulePart.setToChanged()">
            </typeahead>

            <label for="endObjectType">Тип объекта в конечной точке</label>
            <select
                    name="endObjectType"
                    id="endObjectType"
                    ng-options="type.id.value as type.title.value for type in objects.objectTypes.items | types:endPointObjects.objectTypesIds"
                    ng-model="newTitulePart.endObjectTypeId.value"
                    ng-disabled="!endPointObjects.states.ready">
            </select>

            <!-- Если тип объекта в конечной точке - опора -->
            <div class="nested-form" ng-show="newTitulePart.endObjectTypeId.value == 1">
                <label for="endPylonPowerLine">Линия</label><span class="required">*</span>
                <select
                        name="endPylonPowerLine"
                        id="endPylonPowerLine"
                        ng-options="pwl.id.value as pwl.title.value for pwl in stuff.powerlines.items | powerlines: endPointObjects.powerLinesIds"
                        ng-model="endPointPowerLineId"
                        ng-disabled="!endPointObjects.states.ready">
                </select>

                <label for="endPylonNumber">№ опоры</label><span class="required">*</span>
                <typeahead
                        placeholder="Опора"
                        id="endPylonNumber"
                        ng-model="newTitulePart.endObjectId.value"
                        collection="endPointObjects.pylons"
                        collection-value="id"
                </typeahead>
            </div>

            <input type="submit" class="button-link block" value="Добавить участок"/>

            <!-- Ошибки при валидации формы -->
            <div class="error" ng-show="errors.length > 0">
                <div class="error-item" ng-repeat="error in errors track by $index">{{ error }}</div>
            </div>

            <!-- Сообщение об успешном добавлении -->
            <div class="success" ng-show="newTitulePart.titulePartAddedSuccessfully">Участок успешно добавлен</div>
        </fieldset>
    </form>

</div>