<div class="container">
    <form class="form" ng-submit="append()">
        <fieldset>
            <legend>Новое соединение</legend>

            <label for="tracePartTitule">Титул</label>
            <select
                    name="tracePartTitule"
                    id="tracePartTitule"
                    placeholder="Выберите титул"
                    ng-model="titules.currentTituleId"
                    ng-options="titule.id.value as titule.title.value for titule in titules.titules.items"
                    ng-disabled="true">
            </select>

            <label for="tracePartTitulePart">Участок титула</label>
            <select
                    name="tracePartTitulePart"
                    id="tracePartTitulePart"
                    placeholder="Выберите участок титула"
                    ng-model="titules.currentTitulePartId"
                    ng-options="part.id.value as part.title.value for part in titules.parts.items"
                    ng-disabled="true">
            </select>

            <label for="tracePartType">Тип соединения</label>
            <select
                    name="tracePartType"
                    id="tracePartType"
                    placeholder="Выберите тип соединения"
                    ng-model="tracePartType"
                    ng-options="type.id as type.title for type in links.linkTypes">
            </select>

            <!--
            <label for="startPoint">Начальная точка</label><span class="required">*</span>
            <typeahead
                    ng-disabled="true"
                    placeholder="Начальная точка"
                    id="startPoint"
                    ng-model="startObject.pointId.value"
                    collection="stuff.points.items"
                    collection-value="id"
                    ng-change="currentTitulePart.setToChanged()">
            </typeahead>
            -->

            <label for="startObjectType">Тип объекта в начальной точке</label>
            <select
                    name="startObjectType"
                    id="startObjectType"
                    ng-options="type.id.value as type.title.value for type in objects.objectTypes.items"
                    ng-model="startObject.objectTypeId"
                    ng-disabled="true"
                    ng-change="currentTitulePart.setToChanged()">
            </select>

            <!-- Если тип объекта в начальной точке - опора -->
            <div class="nested-form" ng-show="startObject.objectTypeId == 1">
                <label for="startPylonPowerLine">Линия</label><span class="required">*</span>
                <select
                        name="startPylonPowerLine"
                        id="startPylonPowerLine"
                        ng-options="pwl.id.value as pwl.title.value for pwl in stuff.powerlines.items | powerlines: startPointObjects.powerLinesIds"
                        ng-model="startObject.powerLineId.value"
                        ng-disabled="startPointObjects.states.ready == false"
                        ng-change="currentTitulePart.setToChanged()">
                </select>

                <label for="startPylonNumber">№ опоры</label><span class="required">*</span>
                <typeahead
                        placeholder="Опора"
                        id="startPylonNumber"
                        ng-model="startObject.id.value"
                        collection="startPointObjects.pylons"
                        collection-value="id"
                        ng-disabled=" startPointObjects.states.ready == false"
                        ng-change="currentTitulePart.setToChanged()">
                </typeahead>
            </div>

            <!--
            <label for="endPoint">Конечная точка</label><span class="required">*</span>
            <typeahead
                    placeholder="Конечная точка"
                    id="endPoint"
                    ng-model="endPointId"
                    collection="stuff.points.items"
                    collection-value="id">
            </typeahead>
            -->

            <label for="endObjectType">Тип объекта в конечной точке</label>
            <select
                    name="endObjectType"
                    id="endObjectType"
                    ng-options="type.id.value as type.title.value for type in objects.objectTypes.items | baseObjects"
                    ng-model="endPointObjectTypeId"
                    ng-init="0">
            </select>

            <!-- Если тип объекта в конечной точке - опора -->
            <div class="nested-form" ng-show="endPointObjectTypeId == 1">
                <label for="endPylonPowerLine">Линия</label><span class="required">*</span>
                <select
                        name="endPylonPowerLine"
                        id="endPylonPowerLine"
                        ng-options="pwl.id.value as pwl.title.value for pwl in stuff.powerlines.items"
                        ng-model="endPointPowerLineId">
                </select>

                <label for="endPylonNumber">№ опоры</label><span class="required">*</span>
                <typeahead
                        placeholder="Опора"
                        id="endPylonNumber"
                        ng-model="endPointObjectId"
                        collection="powerLinePylons.items"
                        collection-value="id">
                </typeahead>
            </div>

            <input type="submit" class="button-link block" value="Добавить соединение"/>

            <!-- Ошибки при валидации формы -->
            <div class="error" ng-show="errors.length > 0">
                <div class="error-item" ng-repeat="error in errors track by $index">{{ error }}</div>
            </div>

            <!-- Сообщение об успешном добавлении -->
            <div class="success" ng-show="linkAddedSuccessfully">Соединение успешно добавлено</div>
        </fieldset>
    </form>
</div>