<table class="tbl">
    <caption>Группы пользователей</caption>
    <thead>
    <tr class="controls">
        <th>
            <input type="button" class="button-link" value="Добавить группу пользователей" ng-click="gotoAddGroupForm()"/>
        </th>
    </tr>
    <tr>
        <th>Наименование</th>
        <th>Описание</th>
    </tr>
    </thead>
    <tbody>
    <tr class="link" ng-repeat="group in users.groups.items track by $index" ng-click="gotoEditGroupForm(group.id.value)">
        <td ng-bind="group.title.value"></td>
        <td ng-bind="group.description.value"></td>
    </tr>
    </tbody>
</table>