<div class="container">

    <form class="form" ng-submit="users.addGroup()">
        <fieldset>
            <legend>Новая группа пользователей</legend>

            <label for="groupTitle">Наименование</label>
            <input type="text" name="groupTitle" id="groupTitle"  placeholder="Наименование" ng-model="users.newGroup.title.value" />

            <label for="groupDescription">Описание</label>
            <input type="text" name="groupDescription" id="groupDescription"  placeholder="Описание" ng-model="users.newGroup.description.value" />

            <input type="submit" class="button-link block" value="Добавить группу пользователей"/>

            <!-- Ошибки при валидации формы -->
            <div class="error" ng-show="users.groups.errors.length > 0">
                <div class="error-item" ng-repeat="error in users.groups.errors track by $index">{{ error }}</div>
            </div>

            <!-- Сообщение об успешном добавлении -->
            <div class="success" ng-show="users.groupAddedSuccessfully">Группа пользователей успешно добавлена</div>
        </fieldset>
    </form>

</div>