<div class="container">

    <form class="form" ng-submit="users.editUser()">
        <fieldset>
            <legend>{{ formTitle }}</legend>

            <label for="userName">Имя</label>
            <input type="text" name="userName" id="userName"  placeholder="Имя" ng-model="users.currentUser.name.value" ng-change="users.currentUser.setToChanged()" ng-disabled="!users.currentUser.inEditMode"/>

            <label for="userFname">Отчество</label>
            <input type="text" name="userFname" id="userFname"  placeholder="Отчество" ng-model="users.currentUser.fname.value" ng-change="users.currentUser.setToChanged()" ng-disabled="!users.currentUser.inEditMode"/>

            <label for="userSurname">Фамилия</label>
            <input type="text" name="userSurname" id="userSurname"  placeholder="Фамилия" ng-model="users.currentUser.surname.value" ng-change="users.currentUser.setToChanged()" ng-disabled="!users.currentUser.inEditMode"/>

            <label for="userGroup">Группа</label>
            <select name="userGroup" id="userGroup" ng-model="users.currentUser.groupId.value" ng-options="group.id.value as group.title.value for group in users.groups.items" ng-change="users.currentUser.setToChanged()" ng-disabled="!users.currentUser.inEditMode"></select>

            <label for="userEmail">Электронная почта</label>
            <input type="text" name="userEmail" id="userEmail" ng-model="users.currentUser.email.value" ng-change="users.currentUser.setToChanged()"ng-change="users.currentUser.setToChanged()" ng-disabled="!users.currentUser.inEditMode"/>

            <label for="userPhone">Телефон</label>
            <input type="text" name="userPhone" id="userPhone" ng-model="users.currentUser.phone.value" ng-change="users.currentUser.setToChanged()" ng-change="users.currentUser.setToChanged()" ng-disabled="!users.currentUser.inEditMode"/>

            <div class="controls" ng-show="!users.currentUserIsDeleted">
                <input type="button" class="button-link" value="Изменить" ng-show="!users.currentUser.inEditMode && !users.currentUser.inDeleteMode" ng-click="users.currentUser.setToEditMode()"/>
                <input type="button" class="button-link" ng-show="!users.currentUser.inDeleteMode && !users.currentUser.inEditMode" value="Удалить" ng-click="users.currentUser.setToDeleteMode()"/>
                <input type="button" class="button-link" ng-show="users.currentUser.inEditMode && users.currentUser.isChanged" value="Сохранить изменения" ng-click="users.editUser(users.currentUser.id.value)"/>
                <input type="button" class="button-link" ng-show="users.currentUser.inDeleteMode" value="Подтвердить удаление" ng-disabled="users.currentUser.deleteInProgress" ng-click="users.deleteUser(users.currentUser)"/>
                <input type="button" class="button-link" ng-show="users.currentUser.inDeleteMode || users.currentUser.inEditMode" value="Отмена" ng-click="users.currentUser.cancelModes();"/>
            </div>

            <!-- Ошибки при валидации формы -->
            <div class="error" ng-show="users.users.errors.length > 0">
                <div class="error-item" ng-repeat="error in users.users.errors track by $index">{{ error }}</div>
            </div>

            <div class="success" ng-show="users.currentUserIsDeleted">
                Пользователь успешно удален
            </div>
        </fieldset>
    </form>

</div>
