<table class="tbl">
    <caption>Пользователи</caption>
    <thead>
    <tr class="controls">
        <th>
            <input type="button" class="button-link" value="Добавить пользователя" ng-click="gotoAddUserForm()"/>
        </th>
    </tr>
    <tr>
        <th>ФИО</th>
        <th>E-mail</th>
        <th>Телефон</th>
        <th>Группа</th>
    </tr>
    </thead>
    <tbody>
    <tr class="link" ng-repeat="user in users.users.items track by $index" ng-click="gotoEditUserForm(user.id.value)">
        <td ng-bind="user.name.value + ' ' + user.fname.value + ' ' + user.surname.value"></td>
        <td ng-bind="user.email.value"></td>
        <td ng-bind="user.phone.value"></td>
        <td ng-bind="users.groups.find('id', user.groupId.value).title.value"></td>
    </tr>
    <tr>
        <td colspan="4" ng-show="users.users.length == 0 && users.users.isLoaded && !users.users.isLoading">В системе не зарегистрировано ни одного пользователя!</td>
    </tr>
    </tbody>
</table>