<div class="container">

    <form class="form" ng-submit="users.addUser()">
        <fieldset>
            <legend>Новый пользователь</legend>

            <label for="groupTitle">Имя</label>
            <input type="text" name="userName" id="groupTitle"  placeholder="Имя" ng-model="users.newUser.name.value" />

            <label for="userFname">Отчество</label>
            <input type="text" name="userFname" id="userFname"  placeholder="Отчество" ng-model="users.newUser.fname.value" />

            <label for="userSurname">Фамилия</label>
            <input type="text" name="userSurname" id="userSurname"  placeholder="Фамилия" ng-model="users.newUser.surname.value" />

            <label for="userGroup">Группа</label>
            <select name="userGroup" id="userGroup" placeholder="Выберите группу" ng-model="users.newUser.groupId.value" ng-options="group.id.value as group.title.value for group in users.groups.items"></select>

            <label for="userPhone">Контактный телефон</label>
            <input id="userPhone" name="userPhone" type="text" placeholder="Контактный телефон" ng-model="users.newUser.phone.value"/>

            <label for="userEmail">E-mail (он же логин)</label>
            <input id="userEmail" name="userEmail" type="text" placeholder="Элетропочта" ng-model="users.newUser.email.value"/>

            <label for="userPasswd">Пароль</label>
            <input id="userPasswd" name="userPasswd" type="text" placeholder="Пароль" ng-model="users.newUser.password.value"/>

            <input type="submit" class="button-link block" value="Добавить пользователя"/>

            <!-- Ошибки при валидации формы -->
            <div class="error" ng-show="users.users.errors.length > 0">
                <div class="error-item" ng-repeat="error in users.users.errors track by $index">{{ error }}</div>
            </div>

            <!-- Сообщение об успешном добавлении -->
            <div class="success" ng-show="users.userAddedSuccessfully">Пользователь успешно добавлен</div>
        </fieldset>
    </form>

</div>