<div id="userEditor">
    
    <div id="editItemsHolder">
        <ul id="editItemsList">
            <li class="itemActive">Пользователи</li>
            <li><a href="#">Группы</a></li>
            <li>Акт ункт без ссылки</li>
        </ul>
    </div>
    
    <div id="editObjectsList">
        <div class="sepX15"></div>
        <input type="button" value="Добавить нового пользователя" />
        <div class="sepX15"></div>
        
        <div id="editObjects">
            От тута таблица со списком манипулируемых объектов
        </div>
    </div>
    
</div>