body {
    margin: 0;
    font-family: "Lato",Calibri,Arial,sans-serif;  
}

.appBody{
    background-image: url(../img/body_bg_1x4800.gif);
    background-repeat: repeat-y;

}

#appHeader{
    display: block;
    width: 100%;
    height: 48px;
    color: #f2f3f6;
    background-color: #4d5ea5;
}

#appSideBarLeft{
    display: inline-block;
    float: left;
    width: 48px;
    height: auto;
    overflow-x: hidden;
    margin-right: 16px;
}

#appSideBarLeft ul{
    margin: 0px;
    padding: 0px;
    
}

#appSideBarLeft ul li{
    margin-top: 4px;
    padding-left: 4px;
    background-color: #c9d439;
    width: 44px;
    height: 46px;
    cursor: pointer;
}

#appSideBarLeft ul li:hover{
    background-color: #e4ef5e;
}

    #appSideBarLeft ul li img{
        padding-top: 8px;
    }

#appSideBarLeft ul li.itemActive{
    padding-left: 8px;
    background-color: #f2f3f6;
    cursor: default;
}

#appContent{
    display: inline-block;
    float: left;
}

#appHeaderControls {
    float: right;
    margin-top: 12px;
    margin-right: 14px;
}

#appHeaderControls div:hover {
        color:#a3aedd;
}

#appHeaderControlUser{
    display: inline-block;
    border-bottom: 1px solid;
    cursor: pointer;
    margin-right: 14px;
}


#appHeaderControlLogout{
    display: inline-block;
    cursor: pointer;
    border-bottom: 1px dotted;
}

#appHeaderLogo{
    float: left;
    font-size: 24px;
    font-weight: bold;
    margin-top: 7px;
    margin-left: 14px;
}




#msgField{
    width: 300px;
    margin: 0px auto;
    color: #ff4802;
    font-size: 12px;
    border: 1px solid #ff4802;
    background-color: #ffdacc;
}


body.loginBody {
    font-family: Verdana, Geneva, sans-serif;
    background-color: #f2f3f6;
    color:#4d5ea5;
    text-align: center; 

}

.loginBody .formHolder{
    margin: 25px auto;
    width:350px;
    background-color: #fff;
    border: 1px solid #ccc;
    text-align: center;
}

.formHolder input{
    width: 300px;
    padding-bottom: 25;
    
}

.formHolder label{
    font-size: 14px;
    font-weight: normal;
    float: left;
    padding-left: 24px;
    
}


.sepX5{ clear: both; width: 5px; height: 5px; }

.sepX10{ clear: both; width: 10px; height: 10px; }

.sepX15{ clear: both; width: 15px; height: 15px; }

.sepX35{ clear: both; width: 35px; height: 35px; }


.thinHeader{
    width:100%;
    line-height: 1px;
    height: 4px;
    background-color: #4d5ea5;      
}

#editObjectsList{
    float: left;
   
}

#editItemsHolder{
    float: left; 
    heihgt: 100%;
    width: 200px;
}

#editItemsList{
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: #4d5ea5;
}
#editItemsList li{
    list-style: none;
    padding: 0;
    margin: 10px 0;
}

#editItemsList a{
    color: #4d5ea5;
}

#editItemsList li.itemActive{
    font-weight: bold;    
}


#userInfoList{
    border-collapse: collapse;
    background-color: #fafafa;
}

#userInfoList th,#userInfoList td{
    padding: 8px;
}

#userInfoList tbody tr:hover{
    background-color: white;
}

#userInfoList thead {
    text-align: left;

}

#userInfoList thead th:nth-child(1){
    width:20px;
}
#userInfoList thead th:nth-child(2){
    width:300px;
}
#userInfoList thead th:nth-child(3){
    width:250px;
}
#userInfoList thead th:nth-child(4){
    width:200px;
}
#userInfoList thead th:nth-child(5){
    width:70px;
}

#userInfoList tbody td:nth-child(2){
    color: #1f3178;
    text-decoration: underline;
    cursor: pointer;
    
}