.toolbar {
  overflow: visible;
  background-color: #fafafa;
  background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
  background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
  border-right: 1px solid #F2F2F2;
}
.toolbar.top {
  background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
  background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
  border-bottom: 1px solid lightgrey;
}
.toolbar.bottom {
  background-image: -moz-linear-gradient(top, #f2f2f2, #ffffff);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2), to(#ffffff));
  background-image: -webkit-linear-gradient(top, #f2f2f2, #ffffff);
  background-image: -o-linear-gradient(top, #f2f2f2, #ffffff);
  background-image: linear-gradient(to bottom, #f2f2f2, #ffffff);
  border-top: 1px solid lightgray;
}
.toolbar .caption {
  display: block;
  float: left;
  height: 100%;
  text-align: left;
  text-transform: uppercase;
  vertical-align: baseline;
  color: gray;
  font-size: 16px;
  font-weight: bold;
  margin: 5px;
  margin-bottom: 10px;
}
.toolbar .controls {
  display: inline-block;
  float: right;
  height: 100%;
  padding: 5px;
  vertical-align: middle;
}
.toolbar .controls .separator {
  display: inline-block;
  clear: both;
  vertical-align: text-top;
  height: 20px;
  padding-left: 3px;
  margin-right: 3px;
  border-right: 1px solid lightgray;
}
.toolbar .controls label {
  display: inline-block;
  line-height: 21px !important;
  clear: both;
}
.toolbar .controls input[type="file"] {
  display: none;
}
.toolbar .controls input {
  padding: 0px;
}
.round-button {
  display: table-cell;
  width: 20px;
  height: 20px;
  text-align: center;
  vertical-align: bottom;
  font-family: Arial;
  font-size: 15px;
  line-height: 20px;
  font-weight: bold;
  background: #ffffff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
.round-button img {
  width: 12px;
  height: 12px;
  vertical-align: baseline;
  margin-left: -2px;
}
.round-button.success {
  background-color: #54C478;
  background: #54C478;
  color: #ffffff;
}
.round-button.success:hover {
  background: #2EAB56;
}
.round-button.error {
  background-color: #F04D4D;
  background: #F04D4D;
  color: #ffffff;
}
.round-button.error:hover {
  background: #D41E1E;
}
.round-button.action {
  background-color: #84A8F0;
  background: #84A8F0;
  color: #ffffff;
}
.round-button.action:hover {
  background: #4B8CD1;
}
.round-button.icon {
  font-family: "Lucida Sans Unicode";
}
/*** MISC ***/
.level {
  position: relative;
  display: inline-block;
  float: left;
  width: 25px;
  height: 47px;
  margin-top: -5px;
  margin-bottom: -5px;
  vertical-align: top;
}
.level:first-of-type {
  margin-left: 10px;
}
.level:first-of-type .level-top {
  border-left: 2px solid lightblue;
}
.level:first-of-type .level-bottom {
  border-left: 2px solid lightblue;
}
.level:last-of-type .level-top {
  border-left: 2px solid lightblue;
  border-bottom: 1px solid lightblue;
}
.level .level-top {
  position: relative;
  display: block;
  height: 50%;
  border-bottom: 1px solid lightblue;
}
.level .level-bottom {
  position: relative;
  display: block;
  height: 50%;
  border-top: 1px solid lightblue;
}
.level .level-bottom:first-of-type {
  border-left: 2px solid lightblue;
}
.level-container {
  position: relative;
  display: inline-block;
  height: 50%;
}
.level-container:first-child {
  border: 1px solid red;
}
/*** STATES ***/
.hover {
  cursor: pointer;
}
.hover:hover {
  background: #D3EDF5;
}
.loading {
  margin-top: 50px;
  margin-bottom: 30px;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
}
.loading img {
  width: 28px;
  height: 28px;
  vertical-align: middle;
}
/*** ALIGNMENTS ***/
.left {
  float: left;
}
.right {
  float: right;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
/*** NODES ***/
.tree-top-left {
  height: 25px;
  border-left: 1px dotted black;
  border-bottom: 1px dotted black;
}
.tree-top-left.nested {
  border-left: none;
  border-bottom: none;
}
.tree-top-right {
  height: 25px;
  border-left: 1px dotted black;
  border-bottom: 1px dotted black;
}
.tree-top-right.first {
  border-left: none;
}
.tree-top-right.nested {
  border-left: 1px dotted black;
}
.tree-top-right.nested.not-first-node-in-branch {
  border-bottom: none;
}
.tree-bottom-left {
  height: 25px;
  border-left: 1px dotted black;
}
.tree-bottom-left.nested {
  border-left: none;
}
.tree-bottom-left.nested.last-node-in-branch {
  border-top: none;
}
.tree-bottom-right {
  height: 25px;
  border-left: 1px dotted black;
}
.tree-bottom-right.last {
  border-left: none;
  border-top: 1px dotted black;
}
.tree-bottom-right.nested.not-last-branch {
  border-left: 1px dotted black;
}
.tree-bottom-right.nested.last-node-in-branch {
  border-left: none;
}
.collapse {
  position: relative;
  display: inline-block;
  float: left;
  width: 15px;
  height: 50px;
  margin-top: -5px;
  font-family: Verdana;
  font-weight: bold;
  text-align: center;
  color: lightgrey;
  vertical-align: middle !important;
}
.collapse:hover {
  color: black;
}
.expander {
  position: relative;
  display: inline-block;
  z-index: 2;
  width: 10px;
  height: 10px;
  clear: both;
  margin-top: -75px;
  margin-left: -15px;
  padding: 2px;
  padding-top: 3px;
  text-align: center;
  vertical-align: middle;
  font-family: Verdana;
  font-size: 12px;
  line-height: 10px;
  color: white;
  background: #5B89BA;
}
.expander:hover {
  background: #1f3178;
}
.node-item {
  position: relative;
  display: block;
  height: 40px;
  padding: 5px;
  padding-left: 0px;
  vertical-align: text-top;
}
.node-item.active {
  background: #F5E7D3;
}
.node-item.addnew a {
  display: block;
  padding-left: 70px;
  color: lightblue;
  text-decoration: none;
}
.node-branch-link {
  position: relative;
  height: 10px;
  z-index: 5px;
  margin-left: 55px;
  margin-top: -5px;
  margin-bottom: -5px;
  border-left: 1px dotted black;
}
.node-icon {
  position: relative;
  display: block;
  float: left;
  width: 40px;
  height: 40px;
  margin-left: 5px;
  background: lightcyan;
  background-repeat: no-repeat;
}
.node-icon.unknown {
  background: url("../img/unknown_object.png") center center;
}
.node-icon.pylon {
  background: url("../img/pylon.png") center center;
}
.node-details {
  position: relative;
  display: inline-block;
  height: 40px;
  margin-left: 10px;
}
.node-point {
  display: inline-block;
  float: right;
}
/*** TREE ***/
.tree {
  margin-top: 0px;
  list-style-type: none;
}
.tree li {
  margin-left: 13px;
}
.tree.nested {
  padding-left: 10px;
  border-left: 1px dotted black;
}
.tree.nested .tree.nested {
  margin-left: 15px;
  padding-left: 10px;
}
