.toolbar {
  overflow: visible;
  background-color: #fafafa;
  background-image: -moz-linear-gradient(top, #fff, #f2f2f2);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#f2f2f2));
  background-image: -webkit-linear-gradient(top, #fff, #f2f2f2);
  background-image: -o-linear-gradient(top, #fff, #f2f2f2);
  background-image: linear-gradient(to bottom, #fff, #f2f2f2);
  border-right: 1px solid #F2F2F2;

  &.top {
    background-image: -moz-linear-gradient(top, #fff, #f2f2f2);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#f2f2f2));
    background-image: -webkit-linear-gradient(top, #fff, #f2f2f2);
    background-image: -o-linear-gradient(top, #fff, #f2f2f2);
    background-image: linear-gradient(to bottom, #fff, #f2f2f2);
    border-bottom: 1px solid lightgrey;
  }

  &.bottom {
    background-image: -moz-linear-gradient(top, #f2f2f2, #fff);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2), to(#fff));
    background-image: -webkit-linear-gradient(top, #f2f2f2, #fff);
    background-image: -o-linear-gradient(top, #f2f2f2, #fff);
    background-image: linear-gradient(to bottom, #f2f2f2, #fff);
    border-top: 1px solid lightgray;
  }

  .caption {
    display: block;
    float: left;
    height: 100%;
    text-align: left;
    text-transform: uppercase;
    vertical-align: baseline;
    color: gray;
    font-size: 16px;
    font-weight: bold;
    margin: 5px;
    margin-bottom: 10px;
  }

  .controls {
    display: inline-block;
    float: right;
    height: 100%;
    padding: 5px;
    vertical-align: middle;

    .separator {
      display: inline-block;
      //float: left;
      clear: both;
      vertical-align: text-top;
      height: 20px;
      padding-left: 3px;
      margin-right: 3px;
      border-right: 1px solid lightgray;
    }

    label {
      display: inline-block;
      line-height: 21px !important;
      clear: both;
    }

    input[type="file"] {
      display: none;
    }

    input {
      padding: 0px;
    }
  }
}


.round-button {
  display: table-cell;
  width: 20px;
  height: 20px;
  text-align: center;
  vertical-align: bottom;
  font-family: Arial;
  font-size: 15px;
  line-height: 20px;
  font-weight: bold;
  background: #ffffff;
  border: none;
  border-radius: 20px;
  cursor: pointer;

  img {
    width: 12px;
    height: 12px;
    vertical-align: baseline;
    margin-left: -2px;
    //border: 1px solid #ffffff;
  }

  &.success {
    background-color: #54C478;
    background: #54C478;
    color: #ffffff;
    &:hover {
      background: #2EAB56;
    }
  }

  &.error {
    background-color: #F04D4D;
    background: #F04D4D;
    color: #ffffff;
    &:hover {
      background: #D41E1E;
    }
  }

  &.action {
    background-color: #84A8F0;
    background: #84A8F0;
    color: #ffffff;
    &:hover {
      background: #4B8CD1;
    }
  }

  &.icon {
    font-family: "Lucida Sans Unicode";
  }

}

/*** MISC ***/
.level {
  position: relative;
  display: inline-block;
  float: left;
  //clear: both;
  width: 25px;
  height: 47px;
  margin-top: -5px;
  margin-bottom: -5px;
  vertical-align: top;
  //border: 1px solid red;

    &:first-of-type {
     margin-left: 10px;
     //height: 100%;
     //border-left: 2px solid lightblue;
      .level-top {
        border-left: 2px solid lightblue;
      }

      .level-bottom {
        border-left: 2px solid lightblue;
      }
    }

    &:last-of-type {
    //border-left: 2px solid lightblue;
    //border-bottom: 2px solid lightblue;
      .level-top {
        border-left: 2px solid lightblue;
        border-bottom: 1px solid lightblue;
      }
    }


    .level-top {
      position: relative;
      display: block;
      height: 50%;
      //background: blue;
      border-bottom: 1px solid lightblue;

      &:first-of-type {
        //border-left: 2px solid lightblue;
      }
    }

    .level-bottom {
      position: relative;
      display: block;
      height: 50%;
      //background: red;
      border-top: 1px solid lightblue;

      &:first-of-type {
        border-left: 2px solid lightblue;
      }
    }
}

.level-container {
  position: relative;
  display: inline-block;
  height: 50%;
  &:first-child {
    border: 1px solid red;

  }
}


/*** STATES ***/
.hover {
  cursor: pointer;
  &:hover {
    background: #D3EDF5;
  }
}

.loading {
  margin-top: 50px;
  margin-bottom: 30px;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;

  img {
    width: 28px;
    height: 28px;
    vertical-align: middle;
  }
}


/*** ALIGNMENTS ***/
.left {
  float: left;
}

.right {
  float: right;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}


/*** NODES ***/
.tree-top-left {
  height: 25px;
  border-left: 1px dotted black;
  border-bottom: 1px dotted black;


  &.nested {
    border-left: none;
    border-bottom: none;

  }
}


.tree-top-right {
  height: 25px;
  border-left: 1px dotted black;
  border-bottom: 1px dotted black;


  &.first {
    border-left: none;
    //border-bottom: 1px dotted black;
  }


  &.nested {
    border-left: 1px dotted black;

    &.not-first-node-in-branch {
      border-bottom: none;
      border-break: 1px dotted black;
    }

    &.last-branch {
      border-left: none;
    }

    &.first-node-in-branch {
      border-left: 1px dotted black;
    }
  }
}


.tree-bottom-left {
  height: 25px;
  border-left: 1px dotted black;

  &.nested {
    border-left: none;

    &.last-node-in-branch {
      border-top: none;
    }
  }
}


.tree-bottom-right {
  height: 25px;
  border-left: 1px dotted black;

  &.last {
    border-left: none;
    border-top: 1px dotted black;
  }


  &.nested {
    //border-left: 1px dotted black;

    &.not-last-branch {
      border-left: 1px dotted black;
    }

    &.last-node-in-branch {
      border-left: none;
    }

    &.last-branch {
      border-left: none;
    }

    &.not-last-node {
      border-left: 1px dotted black;
    }
  }
}



.collapse {
  position: relative;
  display: inline-block;
  float: left;
  width: 15px;
  height: 50px;
  margin-top: -5px;
  //margin-bottom: -5px;
  font-family: Verdana;
  //font-size: 20px;
  font-weight: bold;
  text-align: center;
  //line-height: 50px;
  color: lightgrey;
  //background: #BBE6B8;
  vertical-align: middle !important;

  &:hover {
    color: black;
  }

  &.first-nested-node {
    //width: 2px;
  }

}


.expander {
  position: relative;
  display: inline-block;
  z-index: 2;
  width: 10px;
  height: 10px;
  clear: both;
  margin-top: -75px;
  margin-left: -15px;
  padding: 2px;
  padding-top: 3px;
  text-align: center;
  vertical-align: middle;
  font-family: Verdana;
  font-size: 12px;
  line-height: 10px;
  color: white;
  //border-radius: 10px;
  background: #5B89BA;

  &:hover {
    background: #1f3178;
  }
}


.node-item {
  position: relative;
  display: block;
  height: 40px;
  padding: 5px;
  padding-left: 0px;
  vertical-align: text-top;

  &.active {
    background: #F5E7D3;
  }

  &.addnew {
    //height: 55px;

    a {
      display: block;
      //margin-bottom: 15px;
      padding-left: 70px;
      color: lightblue;
      text-decoration: none;
    }
  }


}

.node-branch-link {
  position: relative;
  height: 10px;
  z-index: 5px;
  margin-left: 55px;
  margin-top: -5px;
  margin-bottom: -5px;
  border-left: 1px dotted black;
  //background: red;
}


.node-icon {
  position: relative;
  display: block;
  float: left;
  width: 40px;
  height: 40px;
  margin-left: 5px;
  background: lightcyan;
  background-repeat: no-repeat;

  &.unknown {
    background: url("../img/unknown_object.png") center center;
  }

  &.pylon {
    background: url("../img/pylon.png") center center;
  }
}

.node-details {
  position: relative;
  display: inline-block;
  height: 40px;
  margin-left: 10px;
  //border: 1px solid red;
}

.node-point {
  display: inline-block;
  float: right;
}


/*** TREE ***/
.tree {
  //margin-left: -10px;
  margin-top: 0px;
  //margin-bottom: 10px;
  //padding-left: 10px;
  list-style-type: none;
  //margin-bottom: 10px;

  li {
    margin-left: 13px;
  }

  &.nested {
    //margin-left: -10px;
    padding-left: 10px;
    //margin-top: -5px;
    //margin-left: 0px;
    border-left: 1px dotted black;
    
    li {
      //margin-left: 15px;
      //padding-left: 0px !important;
    }

    .tree {
      &.nested {
        margin-left: 15px;
        padding-left: 10px;
      }
    }
  }

  //li {
  //  margin-left: 25px;
  //  padding: 0px;
  //}
}


