<!-- BEGIN: main -->
<!DOCTYPE html>
<html ng-app="Espreso">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <div id="app" ng-controller="EspresoCtrl">

        <!-- Шапка приложения -->
        <div id="app-header">
            <div id="logo">ЭСпрЭсО</div>
        </div>


            <!-- Меню приложения -->
            <div id="app-menu" ng-controller="MenuCtrl">
                <a href="{{ '#'  + item.url }}" class="menu-item"  ng-class="{'active': item.isActive }" ng-repeat="item in menu.menuItems | orderBy:'order'" title="{{ item.description }}">
                    <img ng-src="{{ item.icon }}" alt="{{ item.description }}" />
                </a>
            </div>

            <!-- Контент приложения -->
            <div id="app-content" ng-controller="MenuCtrl">

                <!-- Подменю активного раздела меню -->
                <div id="submenu" ng-show="menu.subMenu.length > 0" ng-controller="MenuCtrl">
                    <a href="{{ '#' + sb.url }}" class="submenu-item"  ng-class="{active: sb.isActive}" ng-click="menu.setActive(sb.parentId)" ng-repeat="sb in menu.subMenu track by $index">{{ sb.title }}</a>
                </div>

                <!-- Контент активного раздели меню / подменю -->
                <div id="content" ng-class="{'submenu-enabled': menu.subMenu.length > 0}" ng-view>

                </div>

            </div>


    </div>

    <!-- Подключение стилей, библиотек и модулей проекта -->
    <link rel="stylesheet" href="client/resources/styles/app.css"/>
    <link rel="stylesheet" href="client/resources/styles/framework.css"/>
    <script src="client/libs/angularjs/angular.min.js"></script>
    <script src="client/libs/angularjs/angular-route.min.js"></script>
    <script src="client/libs/angularjs/angular-cookies.min.js"></script>
    <script src="client/libs/momentjs/moment-with-locales.min.js"></script>
    <script src="client/modules/angular-file-upload.min.js"></script>
    <script src="client/libs/classes.js"></script>
    <script src="client/modules/espreso.js"></script>
    <script src="client/modules/espreso.currentUser.js"></script>
    <script src="client/modules/authorization.js"></script>
    <script src="client/modules/espreso.menu.js"></script>
    <script src="client/modules/espreso.users.js"></script>
    <script src="client/modules/espreso.titules.js"></script>
    <script src="client/modules/espreso.contractors.js"></script>
    <script src="client/modules/espreso.nomenklature.js"></script>
    <script src="client/modules/espreso.pylons.js"></script>
    <script src="client/modules/espreso.dashboard.js"></script>
    <script src="client/modules/espreso.modules.js"></script>
    <script src="client/modules/espreso.localData.js"></script>
    <script src="client/modules/espreso.ui.js"></script>
    <script src="client/modules/espreso.objects.js"></script>
    <script src="client/modules/espreso.filters.js"></script>

    <script src="client/modules/espreso.localData.js"></script>
</body>
</html>
<!-- END: main -->