<!-- BEGIN: main -->
<!DOCTYPE html>
<html ng-app="Espreso">
<head lang="en">
    <meta charset="UTF-8">
    <title>ESPRESO</title>
</head>
<body class="appBody" ng-controller="EspresoCtrl">
    <div id="appHeader">
        <div id="appHeaderLogo">ЭСпрЭСО</div>
        <div id="appHeaderControls">
            <div id="appHeaderControlUser">{{ app.currentUser.surname.value + " " + app.currentUser.name.value + " " + app.currentUser.fname.value }}</div>
            <div id="appHeaderControlLogout" ng-click="auth.logout()">Выход</div>
        </div>
    </div>
    
    <div id="appWorkSheet">
        <div id="appSideBarLeft">
            <ul>
                <a href="#/" target=""><li ng-class="{'itemActive': app.activePartition == 'dashboard'}"><img src="client/resources/img/house_32x32.png" alt="Домашняя страница"/></li></a>
                <li><a href=""><img src="client/resources/img/transmit_blue_32x32.png" alt="Учёт ВОЛС"/></a></li>
                <a href="#/users"><li ng-class="{'itemActive': app.activePartition == 'users'}"><img src="client/resources/img/group_32x32.png" alt="Управление пользователями"/></li></a>
            </ul>
        </div>
        <div id="appContent" ng-view></div>
    </div>

    <!-- Подключение стилей, библиотек и модулей проекта -->
    <link rel="stylesheet" href="client/resources/styles/application.css"/>
    <link rel="stylesheet" href="client/resources/styles/bootstrap/css/bootstrap.min.css"/>
    <script src="client/libs/angularjs/angular.min.js"></script>
    <script src="client/libs/angularjs/angular-route.min.js"></script>
    <script src="client/libs/angularjs/angular-cookies.min.js"></script>
    <script src="client/libs/classes.js"></script>
    <script src="client/modules/espreso.js"></script>
    <script src="client/modules/authorization.js"></script>
    <script src="client/modules/users.js"></script>
</body>
</html>
<!-- END: main -->