<!-- BEGIN: main -->
<!DOCTYPE html>
<html ng-app="Authorization">
<head lang="en">
    <meta charset="UTF-8">
    <title>ЭСпрЭСО: Вход в систему</title>
</head>
<body class="loginBody">
    <div class="thinHeader"></div>

    <div class="sepX35"></div>
    <div class="logoHolder">
               <img src="client/resources/img/login_form_logo_210x198.png" alt="МРСК Северо-Запада"/>
    </div>
    <div class="sepX15"></div>
    <h3>Войти в систему</h3>
    <div class="formHolder" ng-controller="AuthorizationCtrl">
        <div class="sepX15"></div>
        <form ng-submit="auth.login()" name="loginForm">
            <label for="login">Имя пользователя</label>
            <input id="login" type="text" ng-model="auth.email" />
            <div class="sepX15"></div>
            <label for="passwd">Пароль</label><br/>
            <input id="passwd" type="password" ng-model="auth.password" />
            
            <div id="msgField" class="alertMsg" ng-show="auth.errors.length > 0">
                <div ng-repeat="error in auth.errors track by $index">
                    <div class="sepX10"></div>
                    {{ error }}
                    <div class="sepX10"></div>
                </div>

            </div>
            
            <div class="sepX35"></div>
            <input type="submit" value="Войти" />
            <div class="sepX35"></div>
        </form>        
    </div>
    
    
    <!-- Подключение стилей, библиотек модуля авторизации -->
    <link rel="stylesheet" href="client/resources/styles/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="client/resources/styles/application.css"/>
    <script src="client/libs/angularjs/angular.min.js"></script>
    <script src="client/libs/angularjs/angular-cookies.min.js"></script>
    <script src="client/libs/angularjs/angular-route.min.js"></script>
    <script src="client/modules/authorization.js"></script>
    <script src="client/libs/classes.js"></script>
</body>
</html>
<!-- END: main -->
