<div class="container">

    <form class="form" ng-submit="contractors.addContractorType()">
        <fieldset>
            <legend>Новый тип контрагента</legend>

            <label for="contractorTypeTitle">Наименование</label>
            <input type="text" name="contractorTypeTitle" id="contractorTypeTitle"  placeholder="Наименование" ng-model="contractors.newContractorType.title.value" />

            <input type="submit" class="button-link block" value="Добавить тип контрагента"/>

            <!-- Ошибки при валидации формы -->
            <div class="error" ng-show="contractors.contractorTypes.errors.length > 0">
                <div class="error-item" ng-repeat="error in contractors.contractorTypes.errors track by $index">{{ error }}</div>
            </div>

            <!-- Сообщение об успешном добавлении -->
            <div class="success" ng-show="contractors.contractorTypeAddedSuccessfully">Тип контрагента успешно добавлен</div>
        </fieldset>
    </form>

</div>