<form>
    <label for="famName">Фамилия</label>
    <input id="famName" name="famName" type="text" placeholder="Фамилия"/><br /><br />
    <label for="fstName">Имя</label>
    <input id="fstName" name="fstName" type="text" placeholder="Имя"/><br /><br />
    <label for="secName">Отчество</label>
    <input id="secName" name="secName" type="text" placeholder="Отчество"/><br /><br />
    <label for="email">E-mail (он же логин)</label>
    <input id="email" name="email" type="text" placeholder="Элетропочта (она же имя входа)"/><br /><br />
    <label for="passwd">Пароль</label>
    <input id="passwd" name="passwd" type="text" placeholder="Пароль для входа можно и генерить" /><br /><br />
    <input id="formSubmit" type="button" value="Добавить пользователя">
</form>

