<table id="userInfoList">
    <thead>
        <tr>
            <th>ФИО</th>
            <th>Электропочта</th>
            <th>Телефон</th>
            <th>Группа</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="user in users.users.items track by $index">
            <td ng-bind="user.name.value"></td>
            <td ng-bind="user.email.value"></td>
            <td ng-bind="user.phone.value"></td>
            <td ng-bind="user.groupId.value"></td>
        </tr>
    </tbody>
</table>
