<div class="container">

    <form class="form" ng-submit="add()">
        <fieldset>
            <legend>Новая точка</legend>

            <label for="pointTitle">Наименование</label><span class="required">*</span>
            <input type="text" name="pointTitle" id="pointTitle"  placeholder="Наименование" ng-model="newPoint.title.value" />

            <label for="pointLatitude">Широта</label>
            <input type="text" name="pointLatitude" id="pointLatitude"  placeholder="Широта" ng-model="newPoint.latitude.value" />

            <label for="pointLongitude">Долгота</label>
            <input type="text" name="pointLongitude" id="pointLongitude"  placeholder="Долгота" ng-model="newPoint.longitude.value" />

            <label for="pointAltitude">Высота</label>
            <input type="text" name="pointAltitude" id="pointAltitude"  placeholder="Высота" ng-model="newPoint.altitude.value" />

            <label for="pointX">X-координата</label><span class="required">*</span>
            <input type="text" name="pointX" id="pointX"  placeholder="X-координата" ng-model="newPoint.x.value" />

            <label for="pointY">Y-координата</label><span class="required">*</span>
            <input type="text" name="pointY" id="pointY"  placeholder="Y-координата" ng-model="newPoint.y.value" />

            <label for="pointDescription">Примечание</label>
            <input type="text" name="pointDescription" id="pointDescription"  placeholder="Примечание" ng-model="newPoint.description.value" />

            <input type="submit" class="button-link block" value="Добавить точку"/>

            <!-- Ошибки при валидации формы -->
            <div class="error" ng-show="errors.length > 0">
                <div class="error-item" ng-repeat="error in errors track by $index">{{ error }}</div>
            </div>

            <!-- Сообщение об успешном добавлении -->
            <div class="success" ng-show="newPoint.pointAddedSuccessfully">Точка успешно добавлена</div>
        </fieldset>
    </form>

</div>